# Dependencies
node_modules/

# Environment variables
.env

# Database
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm
node_modules
